
li {
    list-style: none;
}

nav {
    height: 13vh;
}



.list-group {
  width: 70px;
}

.bd {
    background-color: #1a1d3d;
}

.about {
    background-color: #212553;
}

#lastproject {
    background-color: #212553;
}


.tinggi {
    height: 90vh;
}

.home {
    margin-bottom: 300px;


}

.foto img {
    box-shadow: 10px 10px 20px rgba(255, 255, 255, 1);
    transition: 0.5s;
}

.about img {
    box-shadow: 10px 10px 20px rgb(0, 0, 0);
    transition: 0.5s;
}

.foto img:hover {
    transform: translateY(-25px);
}
.about img:hover {
    transform: translateY(-25px);
}


.pembungkus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.utama {
    margin-right: -30px;
    margin-bottom: 18px;
}


.pembungkus .teks-bergerak {
    height: 90px;
    line-height: 90px;
    overflow: hidden;
}

.teks-bergerak li {
    color: #7952e4;
    font-size: 30px;
    font-weight: 500;
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }

}



.teks-bergerak li span::after {
    content: '';
    position: absolute;
    left: 0;
    height: 68px;
    width: 100%;
    background-color: #1a1d3d;
    border-left: 2px solid #fff;
    animation:  typing 3s steps(14) infinite;
}

@keyframes typing {
    40%,
    60% {
        left: calc(100% + 30px);
    }

    100% {
        left: 0;
    }
}



.text-center {
    margin-bottom: 100px;
}


#contact {
    padding: 200px;
}


#lastproject {
    padding: 100px;
}

#skill {
    padding: 100px;
}

.card {
    transition: 0.5s;
}
.card:hover {
 transform: translateY(-25px);
}



.footer {
height: 60vh;
    background-color: #343a40;
    color: #fff;
    padding: 600px 0; /* Meningkatkan padding untuk menambah tinggi footer */
    display: flex;
    flex-direction: column;
 
    justify-content: space-around;
}
.footer a {
    color: #ffffff;
}
.footer a:hover {
    color: #fff;
}
.footer .social-icons a {
    font-size: 24px; /* Memperbesar ikon */
    margin: 0 15px;
    color: #fff;
}
.footer .social-icons a:hover {
    color: #151e94;
}
.footer .footer-bottom {
    padding: 30px 0;
    text-align: center;
    background-color: #23272b;
}
.footer h5 {
    text-align: center;
}
.footer p, .footer ul {
    text-align: center;
}




